{%  extends 'assetstracking/main.html' %}
{% load static %}
{%load crispy_forms_tags %} 

{% block content %}


<div class="row">
	<div class="col-md-6">
		<div class="card card-body">

			<form action="" method="POST">
				<h2>To borrow an asset, Choose the asset you need and the deadline below: </h2>
				{% csrf_token %}
				{{ formset.management_form }}
				{% for form in formset %}
				    {{form|crispy }}
					<hr>
					<h3>-----------------------------------------------------</h3>
					<h3>-----------------------------------------------------</h3>
				{% endfor %}


				<input type="submit" name="Submit">
			</form>

		</div>
	</div>
</div>


{% endblock %}
